* {
    box-sizing: border-box;
}

.nav {
    height: 50px;
    width: 100%;
    background-color: #0d80ec;
    position: relative;
}

.nav>.nav-header {
    display: inline;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  color:white;
}
